@media only screen and (max-width: 600px) {
  html {
    font-size: 44%;
  }
  .container {
    background-color: #0d81ed;
    margin: 3rem 2rem;
  }
  .contact-info {
    margin: 0;
    height: 11rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    width: auto;
    padding: 2rem;
  }
  .professional-info h1 {
    font-size: 3rem;
    padding: 8rem 3rem 0 2rem;
    text-align: center;
  }
  .education,
  .experience,
  .skill {
    width: auto;
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  html {
    font-size: 41.5%;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1279px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1440px) {
  html {
    font-size: 73%;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1540px) {
  html {
    font-size: 86%;
  }
}
@media only screen and (min-width: 1540px) and (max-width: 1700px) {
  html {
    font-size: 96%;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1900px) {
  html {
    font-size: 105%;
  }
}
@media only screen and (min-width: 1900px) and (max-width: 2100px) {
  html {
    font-size: 112%;
  }
}
@media only screen and (min-width: 2100px) and (max-width: 2300px) {
  html {
    font-size: 120%;
  }
}
@media only screen and (min-width: 2300px) and (max-width: 2560px) {
  html {
    font-size: 130%;
  }
}
