@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }

  .container {
    margin: 2rem auto;
    width: 90%;
  }
  .social-links ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .container {
    margin: 2rem auto;
    width: 95%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  html {
    font-size: 55%;
  }

  .container {
    margin: 2rem auto;
    width: 80%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1279px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1440px) {
  html {
    font-size: 73%;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1540px) {
  html {
    font-size: 86%;
  }
}
@media only screen and (min-width: 1540px) and (max-width: 1700px) {
  html {
    font-size: 96%;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1900px) {
  html {
    font-size: 105%;
  }
}
@media only screen and (min-width: 1900px) and (max-width: 2100px) {
  html {
    font-size: 112%;
  }
}
@media only screen and (min-width: 2100px) and (max-width: 2300px) {
  html {
    font-size: 120%;
  }
}
@media only screen and (min-width: 2300px) and (max-width: 2560px) {
  html {
    font-size: 130%;
  }
}
